{
  "extends": [
    "react-app",
    "plugin:perfectionist/recommended-natural"
  ],
  "plugins": [
    "perfectionist"
  ],
  "rules": {
    "perfectionist/sort-objects": [
      "error",
      {
        "type": "natural",
        "order": "asc"
      }
    ],
    "perfectionist/sort-imports": [
      "error",
      {
        "type": "natural",
        "order": "asc",
        "groups": [
          "type",
          "react",
          "nanostores",
          [
            "builtin",
            "external"
          ],
          "internal-type",
          "internal",
          [
            "parent-type",
            "sibling-type",
            "index-type"
          ],
          [
            "parent",
            "sibling",
            "index"
          ],
          "side-effect",
          "style",
          "object",
          "unknown"
        ],
        "custom-groups": {
          "value": {
            "react": [
              "react",
              "react-*"
            ],
            "nanostores": "@nanostores/**"
          },
          "type": {
            "react": "react"
          }
        },
        "newlines-between": "always",
        "internal-pattern": [
          "@/components/**",
          "@/stores/**",
          "@/pages/**",
          "@/lib/**"
        ]
      }
    ]
  }
}